/*
 * This is NOT a selector! We are defining a font that the browser
 * /client can downlad and use.
 * link @ https://www.dafont.com/cherry.font
 * You will need to create a new block for each font file / font family
 */
@font-face {
  font-family: 'Cherry Monospace-Light';
  src: url('../fonts/cherry-monospace/Cherry\ Monospace-Light.ttf') format('truetype');
  font-weight: normal; /* Thickness: how bold or light is it? */
  font-style: normal; /* Is it italic? */
}

@font-face { /* Regular */
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-Regular.ttf');
  src: url('../fonts/Rubik/Rubik-Regular.ttf')
      format('truetype');
      font-weight: normal;
      font-style: normal;
}
@font-face { /* Black */
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-Black.ttf');
  src: url('../fonts/Rubik/Rubik-Black.ttf')
      format('truetype');
      font-weight: bolder;
      font-style: normal;
}
@font-face { /* Black italic */
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-BlackItalic.ttf');
  src: url('../fonts/Rubik/Rubik-BlackItalic.ttf')
      format('truetype');
      font-weight: normal;
      font-style: italic;
}
@font-face { /* Bold */
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-Bold.ttf');
  src: url('../fonts/Rubik/Rubik-Bold.ttf')
      format('truetype');
      font-weight: bold;
      font-style: normal;
}
@font-face { /* Bold italic */
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-BoldItalic.ttf');
  src: url('../fonts/Rubik/Rubik-BoldItalic.ttf')
      format('truetype');
      font-weight: bold;
      font-style: italic;
}
@font-face { /* Light */
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-Light.ttf');
  src: url('../fonts/Rubik/Rubik-Light.ttf')
      format('truetype');
      font-weight: lighter;
      font-style: normal;
}
@font-face { /* Light italic */
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-LightItalic.ttf');
  src: url('../fonts/Rubik/Rubik-LightItalic.ttf')
      format('truetype');
      font-weight: lighter;
      font-style: italic;
}

html {
  
}
/* Text meant only for screen readers.
link @ https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
*/
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

/* headings */
h1 {
  font-family: 'Cherry Monospace-Light', 'Courier New', Courier, monospace;
}

/* Navigation links */
nav a {
  text-decoration: none; /* gets rid of the underline */
  color: rgb( 0, 255, 0); /* There are a few ways to handle color... name, RGB, Hex are most common */

  /* Font-Family is used for defining which font should be used here.
   *  If the first font in the comma-separated list is not installed then it will move to the next font.
   */
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
/* The "hover" state of any anchor (a) inside of a nav */
nav a:hover {
  color: rgb( 0, 0, 200);
}

nav > ul {
  /* UL must be directly one level into the nav */
  list-style: square;
}

/*
 * Page content (Rubik Font testing)
 */

 .black-font {
  font-weight: bolder;
 }
 .light-font {
  font-weight: lighter;
 }
h2, p {
  font-family: "Rubik", Helvetica, Arial, sans-serif;
}
/* Target the 3rd <p> inside an element. */
p:nth-of-type(3) {
  font-family: 'Red Rose', cursive;
}